.chat{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#menu1{
display: flex;
justify-content: space-around;
flex-direction: row;
width: 500px;

}
#menu2
{
display: flex;
flex-direction: row;
}

/* Style Article */
article
{
    display: flex;
    flex-direction: row-reverse;

}

img
{
    max-width: 300px;
}

/* Style conteneur */
#conteneur
{
    display: flex;
    flex-direction: row;
}

aside
{
    width: 400px;
}